* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    
 }
 #result{
   color: black;
 }
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35 35 35);
    
  }
h1 {
    text-align: center;
    
    color: rgb(255, 255, 255);
    
  }
.calculator {
    width: 300px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    row-gap: 4px;
    column-gap: 4px;
  }

input {
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    
    background-color:  rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 4px;
   
  }

#clear{
    color:rgb(255, 255, 255);
    background-color: rgb(255,25,24);
}
input[type="button"] {
    color: rgb(122, 122, 122);
    font-weight: bold;
    font-size: 1.2em;
    
  }
.result {
    background-color: rgb(255, 255, 255);
    cursor: default;
    
    grid-column: 1/4;
    
  }
input[type="button"]:hover {
    background-color:  rgb(160, 160, 160);
    color:black;
  }
  button {
    border: none;
    background-color:rgb(61 59 59);
    padding: 8px;
    color: white;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 600;
  }

 
  